/*.timeline div#d_timeline{
color: #334455;

}*/
li.d_time a {
    display: inline-block;

}

li.d_time {
    /*border-left: solid 2px #2a0420;*/
    /* border-bottom: solid 1px #060b18; */
    padding-top: 40px;
    padding-left: 1rem;
}

/*#FE6161*/
.timeline-title {
    position: relative;
    position: relative;
    transform: rotate(0deg);
    color: white;
     z-index: 0;
    text-shadow: none;
    margin-left: 0.5rem;
    background-color: black;
    border-radius: 0.5rem 0.5rem 0rem 0;
    font-size: 0.8rem;
    max-width: 10rem;
    padding: 0.5rem;
    /* margin-bottom: -0.4rem; */
}

.timeline-date {
    font-size: 0.5rem;
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
}
.timeline-date:before {
    margin-right: 0.5rem;
    content: '⭕️';
}
.timeline-detail {
    border: 1px solid gray;
    margin-top: -0.4rem;
    margin-left: 0.5rem;
    background-color: white;
    border-radius: 0 1rem 1rem 1rem;
    font-size: 0.8rem;
    max-width: 60%;
    min-height: 2rem;
    padding: 1rem;
}